
body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}



/* Navigation Bar */

.navbar {
    padding: 0 0 2.5rem;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}


/* Headline and Download Buttons */

#headline {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Title Image */

#iphone-img {
    transform: rotate(25deg);
    width: 80%;
    padding-left: 4rem;
}


/* Features */

.feature-row {
    padding-top: 5rem;
}

.feature-column{
    padding-bottom: 4rem;
}

.feature-icon {
    padding-bottom: 1rem;
    color: #f78259;
}

.feature-icon:hover {
    color: #eb4559;
}

.feature-title {
    font-weight: bold;
}